<!DOCTYPE html>
<html lang="ru">
<head>
	<title>404 #prototype.map</title>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="public/images/favicon.png" type="image/png">
	<link rel='stylesheet' href="public/stylesheets/style.css" />
</head>
<body>
	<header><a class="mainHeader" href="/">prototype.map</a></header>
	<section class="error404">
		<h2>404</h2>
		<p>Страницы нет!</p>
		<a href="/">Вернуться на главную</a>
	</section>
</body>
</html>