<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<link rel="stylesheet" href="<%=assetFingerprint('stylesheets/test.css') %>" />
</head>
<body style="background-image: url(/images/11.jpg);">
	<canvas id="canvas"></canvas>
	<button id="button">Добавить картинку</button>
	<script src="<%=assetFingerprint('javascripts/tscript.js')%>"></script>
</body>
</html>